input:not([type="checkbox"]):not([type="radio"]) {
  padding: 15px;
  border-radius: 5px;
  border: var(--border-default);
  border-color: #949494;
}

input:not([type="checkbox"]):not([type="radio"]):hover {
  border-color: rgb(117, 117, 117);
}

input:not([type="checkbox"]):not([type="radio"]):focus {
  border-color: rgb(38, 106, 202);
  outline: rgb(31, 93, 182) dashed 2px;
  outline-offset: 1px;
}

fieldset ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 275px));
  justify-content: center;
  gap: 1%;
}
.inputgroup-img {
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  border-radius: var(--radii);
  border: var(--border-default);
  border-color: #949494;
}
.inputgroup-img:hover {
  border-color: rgb(117, 117, 117);
}
.inputgroup-img:focus-visible,
.inputgroup-img:focus-within,
.inputgroup-img:focus {
  border-color: rgb(38, 106, 202);
  outline: rgb(31, 93, 182) dashed 2px;
  outline-offset: 1px;
}
.inputgroup-img input[type="radio"],
.inputgroup-img input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
.inputgroup-img label {
  padding: 10px;
  text-align: center;
}
.inputgroup-img label::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.inputgroup-img img {
  width: 100%;
  height: auto;
  padding: 10px;
}
