@import "./mixins";

input {
    transition: all 0.2s ease 0s;
    background-color: #f4f4f5;
    @include default-border-outline;

    @include hover-focus-all {
        box-shadow: rgba(234, 76, 137, 0.094) 0px 0px 0px 3.69948px;
        background-color: transparent;
    }

    &[type='color'] {
        @include min-touch
    }
}

input:not([type="checkbox"]):not([type="radio"]):not([type='color']),
textarea {
    padding: 15px;
    border-radius: 5px;
    @include default-border(#f4f4f5);

    &:hover {
        border-color: rgb(117, 117, 117);

    }

    @include focus-all {
        border-color: rgb(38, 106, 202);
        outline: rgb(31, 93, 182) dashed 2px;
        border-color: var(--dribbble-pink);
        outline: black dashed 2px;

        outline: hsl(380.1, 99.6%, 60.5%) dashed 2px;
        outline-offset: 1px;
    }
}

.input-group {
    ul {
        list-style: none;
        margin: 0;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 275px));
        justify-content: center;
        gap: 1%;
    }

    .inputgroup-img--selected {
        border-color: rgb(38, 106, 202);
    }

    .inputgroup-img {
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        border-radius: var(--radii);
        @include default-border(#949494);

        &:hover {
            border-color: rgb(117, 117, 117);
        }

        @include focus-all {
            border-color: rgb(38, 106, 202);
            outline: rgb(31, 93, 182) dashed 2px;
            outline-offset: 1px;
        }

        input[type='radio'],
        input[type='checkbox'] {
            position: absolute;
        }

        label {
            padding: 10px;
            text-align: center;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }

        img {
            width: 100%;
            height: auto;
            padding: 10px;
        }
    }
}

.custom-dog-form--fieldset {
    display: flex;
    flex-direction: column;
}