path {
    stroke-linecap: round;
    stroke-width: 7px;
}

.main {
    stroke-width: 10px;
}

.outline {
    fill: transparent;
}

.closed {
    stroke-width: 1px;
}

.fill {
    stroke: transparent
}

.outline {
    fill: transparent
}