* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --radii: 5px;
  --border-default: 2px solid transparent;
  --spacer-lg: 15px;
  --spacer-md: 10px;
  --spacer-sm: 5px;
}
button,
input::file-selector-button {
  min-width: 45px;
  min-height: 45px;
  padding: 10px 15px;
  border: 2px solid transparent;
  outline: 2px dashed transparent;
  border-radius: 5px;
}
button:focus,
button:focus-visible,
button:hover,
input::file-selector-button:focus,
input::file-selector-button:focus-visible,
input::file-selector-button:hover {
  outline: 2px dashed black;
  outline-offset: 1px;
  background-color: aliceblue;
  transition: background 200ms ease;
}
button:active,
input::file-selector-button:active {
  background-color: darkorange;
}
input::file-selector-button {
  background-color: #101010;
  color: white;
}
input::file-selector-button:focus,
input::file-selector-button:focus-visible,
input::file-selector-button:hover {
  background-color: #257801;
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  button {
    height: 55px;
  }
}
